{{ define "main" }}

<div
class="post animated fadeInDown"
>
<div class="post__content">
  <h1>
    About Me
  </h1>
  
  I do computer vision and deep learning, with a particular emphasis on Generative AI and its broader impacts. I am currently a third-year PhD student in the University of Hong Kong, supervised by Prof. Xiaojuan Qi. I received my Bachelor Degree in Mathematics and Applied Mathematics from Sun Yat-sen University. I was/am fortunate to intern at VAST and Adobe Research.
  
  
  <h2>
    News
  </h2>
  
  [2024-12] TEXGen is selected as Technical Papers Honorable Mention Award (SIGGRAPH Asia 2024).
</div>
</div>
{{ end }}
